.sidebarChat{
    display: flex;
    padding: 10px;
    cursor: pointer;
    margin: 0;
    border-left : 1px solid gray;
    border-right : 1px solid gray;
    border-bottom : 1px solid gray;
}

a{
    text-decoration: none !important;
    color: black;
}

p{
    color: gray;
}

.sidebarChat:hover{
    background-color: #ebebeb;
}

.sidebarChat__info>h2{
    font-size: 16px;
}

